.container{
	margin-left: 25%;
	margin-right: 5%;
	margin-top: 10%;
}

.h1{
	font-size: 100px;
}
.loading-image{
	margin-top: 15%;
	-webkit-animation:spin 8s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

.equipment-card{
	background-color: #E50712;
	color: #222;
    width: 200px;
    margin: 10px 10px;
    height: 100px;
    vertical-align: middle;
    display: inline-flex;
    border-radius: 5px;
	box-shadow: 1px 2px 10px #555;
}
.equipment-card:hover{
	background-color: #b4050e;
}

.equipment-title{
	margin-top: 20%;
    font-size: 22px;
    width: inherit;
}