.icon{
	width: 100px;
}

.column-2{
	width: 45%;
    /*margin: 10px;*/
    /*display: inline-block;*/
    text-align: left;
    float: 	left;
}

.inner-container-full{
	margin: 120px 15px 15px 15px;
}
.m-inner-container-full{
	margin: 120px 15px 15px 15px;
	text-align: left;
	padding: 0px 25px;
	text-transform: capitalize;
}
.m-name{
	margin: 5px;
}
.m-description{
	margin: 5px;
}
.m-break{
	border-top: solid 3px transparent;
    border-left: solid 315px #a52a2a;
    border-bottom: solid 3px #a52a2a;
    border-right: solid 315px transparent;
    margin: 5px 0px 5px 0px;;
}

.monster-name{
	display: block;
}
.monster-title{
	vertical-align: 75%;
	margin-left: 10px;
	font-size: 2em;
	font-weight: bold;
}
.monster-title:after{
	content:"";
    display: -webkit-box;
    height: 0.2em;
    vertical-align: bottom;
    width: 100%;
    margin-top: 5px;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
}
.monster-title-container{
	/*margin: 25px 50px 10px 50px;*/
	text-align: left;
	max-height: 125px;
}
ul{
	margin: 5px;
	padding: 0px;
}
li{
	list-style: none;
}

.bold{
	font-weight: 600;
}
.light{
	font-weight: 300;
}
.stats-list > li{
	width:12%;
	text-align: center;
	display: inline-block;
}
.stats-list{
	width: 100%;
}
table{
	width: 100%;
	padding: 0px 10px;
}
td{
	/*display: block;*/
	width:15%;
}